
services:
  nestapp:
    image: baptistajose/nestjs-ecommerce:latest
    ports:
      - '8080:8080'
    env_file:
      - .env.development
    depends_on:
      - postgresdb

  postgresdb:
    image: postgres
    env_file:
      - .env.development
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: {}
