name: deploy
on:
  push:
    branches:
      - "main"

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v4
    -
      name: Login to Docker hub
      uses: docker/login-action@v3
      with:
        username: baptistajose
        password: ${{secrets.DOCKERHUB_TOKEN}}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ./back/ecommerce-BaptistaJose
        file: ./back/ecommerce-BaptistaJose/Dockerfile
        push: true
        tags: BaptistaJose/nestjs-ecommerce
  
